.log-sign{
    height:100vh;
    width: 100vw;
    background-image: url("ramen.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.login-form{
    text-align: center;
    width: 40vw;
    height: 60vh;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 237, 226, 0.7);
    margin-top: 10%;

}
.form-container{
    /* margin-left: 10%; */
    padding-top: 20%;
    /* padding-left: 10%; */
    
    /* background-image: url("ramen.gif");
    background-size: contain;
    background-repeat: no-repeat;*/
   
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 0.5rem;
    width: 20rem;
}
input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 0.5rem;
    width: 19rem;
}
.email,.password{
    margin: 3rem;
}
.checkbox{
    padding: 1rem;
}
/* .login-form-button{
    <!-- HTML !-->
<button class="button-68" role="button">Button 68</button> */

/* CSS */
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #6cbe36;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: rgb(233, 219, 30);
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 5px 35px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
/* .submit{
    padding-top: 1rem;
} */
.sign{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.3rem;
}
.logo{
    font-size: 3rem;
}